@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400&display=swap');

* {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

#widget {
    background-color: transparent;
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
    height: 85%;
    border: none;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}

#today {
    font-size: large;
}
